/* making nav bar the same place as header */
* {
    margin: 0;
    padding: 0;
}
/* fixing footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2   
}
/* applying styles to header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
/* not entirely sure what this does */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
/* putting inline list back in header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:#fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}
/* puts navigation list on the right side */
header nav {
    float: right;
    margin: 7px; 
}
/* making navigation lists side by side */
header nav ul li{
    display: inline;
}

header nav ul li {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/* footer styling */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* left side footer */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* right side of footer, call to html element remember*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* footer a is where?? color tho */
footer a {
    color: #024e76;
}

/*1.3.4-Section(jumbotron and hero and form)*/
section {
    padding: 60px;
    /*background-image: url("../images/hero-bg.jpeg") no repeat;*/   
}




/* hero style start-image/size/positioning*/ 
.hero {
    background-image: url("../images/hero-bg.jpeg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* hero style end */

/* form box styling */
.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
/* styling sign up form - heading,text spacing,input, making it look more accessible */
.hero-form p {
    margin: 5px 0 15px 0;
    color: #024e76;
}
.hero-form h3 {
    font-size: 24px;
    color: #024e76;
}
.form-input {
    border: solid 1px #024e76;
    padding: 7px 15px;
    margin: 1px;
    display: block;
    font-size: 14px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
/* end sign up form styling */
/* radio button styling */
.hero-form label {
    color: #024e76;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}



/* centering the what you do section */
.intro {
    text-align: center;
}
/* styling what you do header */
/*.intro h2 {
    display:inline-block;
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0px 100px 20px 100px;
    border-bottom: 3px solid #fce138;
} */
/* intro paragraph styling */
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}



/* styling what you do section */
.steps {
    text-align:center;
    background-color: #fce138;
}
/* 1.4.6 */
/*.steps h2 {
    font: size 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0px 100px 20px 100px;
    border-bottom: 3px solid #39a6b2;
} */

/* DRY 1.4.6 - defining properties to call on so i dont have to type out color and all that all over? WILL REPLACE INTRO H2 AND STEPS H2 */
.section-title {
    font-size: 55px;
    color: #39a6b2;
    margin-bottom: 35px;
    padding: 0px 100px 20px 100px;
    border-bottom: 3px solid;
    display: inline-block;
}
/* changing indivudual border colors */
.primary-border {
    border-color: #fce138
}
.secondary-border {
    border-color: #39a6b2
}

/* i think this is fixing the sections and spacing and everything (hopefully border issue as well) */
.steps div {
    margin-bottom: 10px;
}
/* biggg difference in imade size, and i guess margin too? */
.steps img {
    width: 15%;
    margin: 80px 0;
}

/* the h3 header that has steps (did i call this correctly) */
.steps h3{
    font-size: 46px;
    color: #024e76;
    margin-top: 10px;
}
.steps p{
    color: #39a6b2;
    font-size: 23px;
}
/* <span> in html steps section to make the steps title all the same size text */
.steps span {
    font-size: 38px;
}


/* beginning section 3 your trainers */
.trainers {
    text-align: center;
}
/* just trainer */
.trainer {
    width:900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
}
/* trainer img styling */
.trainer img {
    width: 35%;
    float: left;
}
.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%; 
}
/* utility class? this is for trainer text */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* styes to trainers heading, subheading, and parapgraph */
.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}
.trainer-bio p {
    font-size: 17px;
    line-height: 1.7;
}
/* Reach Out styling */
.contact {
    background-color: #024e76;
    text-align:center;
}
.contact h2 {
    color: #fce138;
}
/* contact info styling */
.contact-info iframe {
    width: 400px;
    height: 400px;
}
.contact-info div {
   width: 410px;
   display:inline-block;
   vertical-align: top;
   text-align: left;
   margin: 30px 0 0 60px;
   color: white;
 }

/* CONTACT INFO STYLING */
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
  }
  
  .contact-info a {
    color: #fce138;
  }